<nav class="navbar navbar-expand-lg navbar-dark container col-10" style="background-color: #12620c;">

    <a class="navbar-brand text-center mx-auto" style="color:white; ">Manage Borrowers</a>


</nav>
<div class="table-responsive small container" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">

        <form class="form-inline py-4 col-10" style="margin-top: 9px;">
            <input type="search" (ngModelChange)="searchBorrowers(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2" placeholder="Search borrower..." required>
        </form>
        <div class="col-2">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn mb-4 "> <img class="d-block "
                    src="../../../assets/addperson.jpg" alt="" width="90" height="90"></button>

        </div>
    </div>

    <h2>All Borrowers</h2>
    <table class="table table-striped table-sm ">
        <thead>
            <tr>
                <th scope="col">Reg No</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">email</th>
                <th scope="col">address</th>
                <th scope="col">DoB</th>
                <th scope="col">Gender</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let borrower of allBorrowersList">
                <td>{{borrower.registerNo}}</td>
                <td>{{borrower.firstName}}</td>
                <td>{{borrower.lastName}}</td>
                <td>{{borrower.email}}</td>
                <td>{{borrower.address}}</td>
                <td>{{borrower.doB}}</td>
                <td>{{borrower.gender}}</td>
                <td>{{borrower.contactNumber}}</td>

                <td><button (click)="setSelectedBorrower(borrower)" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="bi bi-trash3"></i>
                    </button>
                    <button (click)="setSelectedBorrower(borrower)" class="btn btn-secondary ms-2"
                        data-bs-toggle="modal" data-bs-target="#modalUpdate">
                        <i class="bi bi-pencil-square"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>



<!--Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center " style="margin-left: 120px;" id="exampleModalLabel">Register
                    New Borrower</h1>

                <button (click)="clearFields()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class=" container justify-content-center">

                    <div class="col-md-12 col-lg-12 mx-auto">

                        <form class="needs-validation" novalidate>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">First name</label>
                                    <input [(ngModel)]="borrower.firstName" [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" id="firstName" placeholder="Enter First Name"
                                        value="" required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Last name</label>
                                    <input [(ngModel)]="borrower.lastName" [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                                        value="" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>


                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span
                                            class="text-body-secondary"></span></label>
                                    <input [(ngModel)]="borrower.email" [ngModelOptions]="{standalone: true}"
                                        type="email" class="form-control" id="email" placeholder="12345@gmail.com">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="address" class="form-label">Address</label>
                                    <input [(ngModel)]="borrower.address" [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" id="address"
                                        placeholder="123 Main Street,Panadura" required>
                                    <div class="invalid-feedback">
                                        Please enter your shipping address.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="address2" class="form-label">Date of Birth <span
                                            class="text-body-secondary"></span></label>
                                    <input [(ngModel)]="borrower.doB" [ngModelOptions]="{standalone: true}" type="text"
                                        class="form-control" id="address2" placeholder="YYYY-MM-DD">
                                </div>



                                <div class="col-md-6">
                                    <label for="state" class="form-label">Gender</label>
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input [(ngModel)]="borrower.gender" (change)="genderSelect('Male')"
                                                id="male" name="gender" value="male" type="radio"
                                                class="form-check-input" checked required>
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check">
                                            <input [(ngModel)]="borrower.gender" (change)="genderSelect('Female')"
                                                id="female" name="gender" value="female" type="radio"
                                                class="form-check-input" required>
                                            <label class="form-check-label me-5" for="female">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="contactNumber" class="form-label">Contact Number</label>
                                    <input [(ngModel)]="borrower.contactNumber" [ngModelOptions]="{standalone: true}"
                                        type="text" class="form-control" id="contactNumber" placeholder="" required>
                                    <div class="invalid-feedback">
                                        contact Number is required.
                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button
                    [disabled]="!borrower.firstName || !borrower.lastName || !borrower.email || !borrower.address || !borrower.doB || !borrower.gender || !borrower.contactNumber"
                    (click)="addBorrower()" data-bs-dismiss="modal" class="w-75 btn btn-primary btn-md"
                    type="submit">Register</button>
                <button (click)="clearFields()" type="button" class="btn btn-secondary w-20"
                    data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal  -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body p-4 text-center">

                <h5 class="mb-0"><i class="bi bi-question-square m-2"></i>Do you really want to Delete Book <br><span
                        style="color: red;" class="fw-bold ">"{{selectedBorrower?.firstName}}" </span>?</h5>

            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                    data-bs-dismiss="modal" (click)="removeBorrower()">
                    <strong>Yes, Delete</strong>
                </button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                    data-bs-dismiss="modal">No thanks</button>
            </div>

        </div>
    </div>
</div>

<!-- update modal -->

<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center fw-bold" style="margin-left: 120px;" id="staticBackdropLabel">
                    Update
                    Borrower</h1>

                <button (click)="clearFields()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class=" container justify-content-center">

                    <div class="col-md-12 col-lg-12 mx-auto">

                        <form class="needs-validation" novalidate>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">First name</label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.firstName"
                                        [ngModelOptions]="{standalone: true}" type="text" class="form-control fw-bold"
                                        id="firstName" placeholder="Enter First Name" value="" required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Last name</label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.lastName "
                                        [ngModelOptions]="{standalone: true}" type="text" class="form-control fw-bold"
                                        id="lastName" placeholder="Enter Last Name" value="" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>


                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span
                                            class="text-body-secondary"></span></label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.email "
                                        [ngModelOptions]="{standalone: true}" type="email" class="form-control fw-bold"
                                        id="email" placeholder="12345@gmail.com">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="address" class="form-label">Address</label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.address"
                                        [ngModelOptions]="{standalone: true}" type="text" class="form-control fw-bold"
                                        id="address" placeholder="123 Main Street,Panadura" required>
                                    <div class="invalid-feedback">
                                        Please enter your shipping address.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="address2" class="form-label">Date of Birth <span
                                            class="text-body-secondary"></span></label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.doB"
                                        [ngModelOptions]="{standalone: true}" class="form-control fw-bold" id="address2"
                                        placeholder="YYYY-MM-DD">
                                </div>

                                <div class="col-md-6">
                                    <label for="state" class="form-label">Gender</label>
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input [(ngModel)]=" selectedBorrower &&  selectedBorrower.gender"
                                                (change)="genderSelect('Male')" id="male" name="gender" value="Male"
                                                type="radio" class="form-check-input" checked required>
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check">
                                            <input [(ngModel)]=" selectedBorrower &&  selectedBorrower.gender"
                                                (change)="genderSelect('Female')" id="female" name="gender"
                                                value="Female" type="radio" class="form-check-input" required>
                                            <label class="form-check-label me-5" for="female">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="contactNumber" class="form-label">Contact Number</label>
                                    <input [(ngModel)]="selectedBorrower && selectedBorrower.contactNumber"
                                        [ngModelOptions]="{standalone: true}" type="text" class="form-control fw-bold"
                                        id="contactNumber" placeholder="" required>
                                    <div class="invalid-feedback">
                                        contact Number is required.
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button (click)="updateBorrower()" data-bs-dismiss="modal" class="w-75 btn btn-primary btn-md"
                    type="submit">Update</button>
                <button (click)="clearFields()" type="button" class="btn btn-secondary w-20"
                    data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>