.make-up{
    margin-bottom: -20px;
}
.navbar-brand , h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}
.table-head,button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
}